.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}


body {
background: #3b0cb2; /* Old browsers */
background: -moz-linear-gradient(-45deg, #3b0cb2 0%, #5f3eb2 60%, #765eb2 100%, #a849a3 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #3b0cb2 0%,#5f3eb2 60%,#765eb2 100%,#a849a3 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #3b0cb2 0%,#5f3eb2 60%,#765eb2 100%,#a849a3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b0cb2', endColorstr='#a849a3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  /*background-color: #572fb5; og*/
  /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.jumbotron {
  border: none;
  border-radius: 10px;
-webkit-box-shadow: 2px 2px 7px 5px rgba(0,0,0,0.25); 
-moz-box-shadow: 2px 2px 7px 5px rgba(0,0,0,0.25); 
box-shadow: 2px 2px 7px 5px rgba(0,0,0,0.25);
}

#card.username {
  text-shadow: 2px;
}

#testcenter {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.container .text-muted {
  margin: 20px 0;
  
}

/* Thumbnail styles */
.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}
.card {
  border: none;
  border-radius: 10px;
-webkit-box-shadow: 2px 2px 7px 5px rgba(0,0,0,0.25); 
-moz-box-shadow: 2px 2px 7px 5px rgba(0,0,0,0.25); 
box-shadow: 2px 2px 7px 5px rgba(0,0,0,0.25);
}
.card-body {
  padding: 5px;
  border: none;
  background-color: #d9d5e5;
  color: #342d44; /* Text color */
/*  -webkit-box-shadow: 7px 7px 8px 0px rgba(0,0,0,0.24);*/
/*-moz-box-shadow: 7px 7px 8px 0px rgba(0,0,0,0.24);*/
/*box-shadow: 7px 7px 8px 0px rgba(0,0,0,0.24)*/
}

.border-light {
  border: none;
}

.btn-success {

border:1px solid #8120f1; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #9F55F4; background-image: -webkit-gradient(linear, left top, left bottom, from(#9F55F4), to(#6C3AA6));
 background-image: -webkit-linear-gradient(top, #9F55F4, #6C3AA6);
 background-image: -moz-linear-gradient(top, #9F55F4, #6C3AA6);
 background-image: -ms-linear-gradient(top, #9F55F4, #6C3AA6);
 background-image: -o-linear-gradient(top, #9F55F4, #6C3AA6);
 background-image: linear-gradient(to bottom, #9F55F4, #6C3AA6);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#9F55F4, endColorstr=#6C3AA6);
-webkit-box-shadow: 2px 2px 7px 5px rgba(0,0,0,0.25); 
-moz-box-shadow: 2px 2px 7px 5px rgba(0,0,0,0.25); 
box-shadow: 2px 2px 7px 5px rgba(0,0,0,0.25);

/*background-color: #9f55f4; og*/
/*border: none;*/
}

.btn-success:hover {
  border:1px solid #6b0ed5;
 background-color: #8D4CD9; background-image: -webkit-gradient(linear, left top, left bottom, from(#8D4CD9), to(#552D82));
 background-image: -webkit-linear-gradient(top, #8D4CD9, #552D82);
 background-image: -moz-linear-gradient(top, #8D4CD9, #552D82);
 background-image: -ms-linear-gradient(top, #8D4CD9, #552D82);
 background-image: -o-linear-gradient(top, #8D4CD9, #552D82);
 background-image: linear-gradient(to bottom, #8D4CD9, #552D82);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#8D4CD9, endColorstr=#552D82);
}

.btn-primary {
 border:1px solid #8120f1; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #9F55F4; background-image: -webkit-gradient(linear, left top, left bottom, from(#9F55F4), to(#6C3AA6));
 background-image: -webkit-linear-gradient(top, #9F55F4, #6C3AA6);
 background-image: -moz-linear-gradient(top, #9F55F4, #6C3AA6);
 background-image: -ms-linear-gradient(top, #9F55F4, #6C3AA6);
 background-image: -o-linear-gradient(top, #9F55F4, #6C3AA6);
 background-image: linear-gradient(to bottom, #9F55F4, #6C3AA6);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#9F55F4, endColorstr=#6C3AA6);
 -webkit-box-shadow: 2px 2px 7px 5px rgba(0,0,0,0.12); 
-moz-box-shadow: 2px 2px 7px 5px rgba(0,0,0,0.12); 
box-shadow: 2px 2px 7px 5px rgba(0,0,0,0.12);
  /*background-color: #9f55f4; og*/
  /*border: none;*/
  /*background-color: #9f55f4;*/
  /*border: none;*/
}

.btn-primary:hover {
 border:1px solid #6b0ed5;
 background-color: #8D4CD9; background-image: -webkit-gradient(linear, left top, left bottom, from(#8D4CD9), to(#552D82));
 background-image: -webkit-linear-gradient(top, #8D4CD9, #552D82);
 background-image: -moz-linear-gradient(top, #8D4CD9, #552D82);
 background-image: -ms-linear-gradient(top, #8D4CD9, #552D82);
 background-image: -o-linear-gradient(top, #8D4CD9, #552D82);
 background-image: linear-gradient(to bottom, #8D4CD9, #552D82);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#8D4CD9, endColorstr=#552D82);
}
.thumbnail .caption-full {
    padding: 1px;
}


/* Campground show page delete button */
.delete-form {
	display: inline-block;
}